body {
  color: black;
}

a {
  text-decoration: none;
}

header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  position: sticky;
  top: 0;
  z-index: 9;

  & .about img {
    width: 60px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: gray;

  & .search {
    display: flex;
    justify-content: center;
    padding: 60px 0;

    & input {
      width: 380px;
      height: 30px;
      outline: none;
      border: none;
      padding: 10px;
      border-radius: 4px;

      &::placeholder {
        color: rgb(176, 176, 176);
      }
    }

    & img {
      position: relative;
      top: 0;
      right: 50px;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }

  & .pokemon-list {
    background-color: green;
    padding: 0 40px 40px 40px;

    & .pokemons {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      & .pokemon {
        width: 200px;
        background-color: beige;
        display: flex;
        flex-direction: column;
        align-items: center;

        & img {
          width: 180px;
        }
      }
    }

    & .the-loader {
      width: 30px;
      height: 30px;
      margin: 30px auto;
      border: 4px solid yellow;
      border-top-color: transparent;
      border-radius: 50%;
      animation: loader 1s infinite linear;
    }

    & .the-loader.hide {
      display: none;
    }
    @keyframes loader {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  & .view-more {
    width: 300px;
    margin: 40px auto;
    display: block;
    padding: 20px;
    cursor: pointer;
  }
}